[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/succeza
[access "refs/for/refs/*"]
	read = group user/succeza
	push = group user/succeza
	label-Code-Review = -2..+2 group user/succeza
	label-Verified = -1..+1 group user/succeza
	rebase = group user/succeza
	removeReviewer = group user/succeza
	submit = group user/succeza
[access "refs/heads/*"]
	read = group user/succeza
	create = group user/succeza
	push = +force group user/succeza
	pushMerge = group user/succeza
[access "refs/tags/*"]
	push = group user/succeza
	push = +force group user/succeza
